<section>
    <h1>Browser Info</h1>

    <div class="row">
        <div class="col-md-2">
            <h2>IP</h2>
            <pre>{{ipAddress}}</pre>
        </div>

        <div class="col-md-10">
            <h2>User Agent</h2>
            <pre>{{userAgent}}</pre>
        </div>
    </div>

    <h2>Screen</h2>
    
    <div class="row">
        <div class="col-md-6">
            <p>Viewport width: {{viewportWidth}}px ({{viewportWidthEm}}em)</p>
            <p>Viewport height: {{viewportHeight}}px ({{viewportHeightEm}}em)</p>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sizes</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><span class="css-device-width">CSS device-width:</span></li>
                        <li>JS screen.width: <code>{{screenWidth}}px</code></li>
                        <li>JS window.innerWidth: <code>{{innerWidth}}px</code></li>
                        <li>JS body.clientWidth: <code>{{clientWidth}}px</code></li>
                        <li>JS screen.availWidth: <code>{{availWidth}}px</code></li>

                        <li><span class="css-device-height">CSS device-height:</span></li>
                        <li>JS screen.height: <code>{{screenHeight}}px</code></li>
                        <li>JS window.innerHeight: <code>{{innerHeight}}px</code></li>
                        <li>JS body.clientHeight: <code>{{clientHeight}}px</code></li>
                        <li>JS screen.availHeight: <code>{{availHeight}}px</code></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pixel ratio</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><span class="css-pixel-ratio">CSS pixel-ratio: </span></li>
                        <li>JS pixel-ratio: <code>{{pixelRatio | numberFixedLen:2}}</code></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Resolution</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>CSS Resolution (dpi): <code>{{resolutionDpi | numberFixedLen:0}}dpi</code></li>
                        <li>CSS Resolution (dppx): <code>{{resolutionDppx | numberFixedLen:0}}dppx</code></li>
                        <li>CSS Resolution (dpcm): <code>{{resolutionDpcm | numberFixedLen:0}}dpcm</code></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Misc</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>Root font size: <code>{{rootFontSize}}px</code></li>
                        <li><span class="css-orientation">Orientation: </span></li>
                        <li>Device Aspect-Ratio: <code>{{deviceAspectRatio | numberFixedLen:1}}</code></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <h2>Features</h2>
    <div class="row">
        
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">CSS3</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled feature-list">
                        <li ng-repeat="(name, value) in features" ng-class="{'success': value, 'failed': !value}">{{name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</section>