<section ng-controller="guidGeneratorController">
    <h1>Guid Generator</h1>

    <div class="form-group">
        <label class="col-sm-2 control-label">Guid</label>
        <div class="col-md-10"></div>
        <input type="text" class="form-control ng-pristine ng-valid" ng-model="guidValue">
    </div>
    
    <button class="btn btn-default" ng-click="parse()">Parse</button>
    <button class="btn btn-default" ng-click="newGuid()">New Guid</button>
    <pre ng-if="value">{{value}}</pre>
    
</section>