<section>
    <h1>ASP.NET ViewState Decode</h1>

    <p>The ViewState must not be encrypted. You may need to change your configuration file:</p>
    <pre><code>&lt;system.web&gt;&lt;pages enableViewStateMac="false" viewStateEncryptionMode="Never"&gt;</code></pre>

    <form role="form">
        <div class="form-group">
            <textarea class="form-control" ng-model="viewState"></textarea>
        </div>
        <button class="btn btn-default" ng-click="decode()">Decode</button>
        <pre ng-show="result">{{result}}</pre>
    </form>


</section>