<h1>XML</h1>

<section ng-controller="xmlEncodeController">
    <h2>Xml Encode/Decode</h2>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" ng-model="value"></textarea>
        </div>
        <button class="btn btn-default" ng-click="encode()">Encode</button>
        <button class="btn btn-default" ng-click="decode()">Decode</button>
        <pre ng-if="result">{{result}}</pre>
    </form>

</section>

<section ng-controller="xmlAttributeEncodeController">
    <h2>Xml attribute Encode/Decode</h2>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" ng-model="value"></textarea>
        </div>
        <button class="btn btn-default" ng-click="encode()">Encode</button>
        <button class="btn btn-default" ng-click="decode()">Decode</button>
        <pre ng-if="result">{{result}}</pre>
    </form>

</section>
