@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Available tools</h2>
        <ul>
            <li><a href="~/Tools/GuidGenerator">Guid generator</a></li>
            <li><a href="~/Tools/GuidParser">Guid parser</a></li>
            <li><a href="~/Tools/BrowserInfo">Browser Info</a></li>
            <li><a href="~/Tools/QRCodeGenerator">QR Code Generator</a></li>
            <li><a href="~/Tools/JsonFormatter">JSON Formatter</a></li>
            <li><a href="~/Tools/XmlFormatter">XML Formatter</a></li>
            <li><a href="~/Tools/HtmlEncode">HTML Encode/Decode</a></li>
            <li><a href="~/Tools/UrlEncode">URL Encode/Decode</a></li>
            <li><a href="~/Tools/XmlEncode">XML Encode/Decode</a></li>
            <li><a href="~/Tools/XmlAttributeEncode">XML Attribute Encode/Decode</a></li>
            <li><a href="~/Tools/XPAthTester">XPath Tester</a></li>
            <li><a href="~/Tools/JsonPathTester">JsonPath Tester</a></li>
        </ul>
    </div>
</div>
