
/* Set padding to keep content from hitting the edges */
.main-content {
    padding-top: 50px;
    padding-bottom: 20px;
}

.feature-list {
    .success {
        color: green;
    }

    .error {
        color: red;
    }
}


.css-device-height:after,
.css-device-width:after,
.css-pixel-ratio:after,
.css-orientation:after {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* CSS screen height */
$screen-heights: 240px, 320px, 360px, 480px, 540px, 568px, 576px, 600px, 640px, 720px, 768px, 800px, 980px, 1024px, 1200px, 1280px;

@each $screen-height in ($screen-heights) {
    @media (min-device-height: $screen-height) {
        .css-device-height:after {
            content: "#{$screen-height}+";
        }
    }
}

/* CSS screen width */
$screen-widths: 240px, 360px, 540px, 568px, 576px, 600px, 640px, 720px, 768px, 800px, 980px, 1024px, 1080px, 128px, 1366px, 1600px, 1920px;

@each $screen-width in ($screen-widths) {
    @media (min-device-width: $screen-width) {
        .css-device-width:after {
            content: "#{$screen-width}+";
        }
    }
}

/* CSS pixel ratio */

@media only screen and (-webkit-max-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1) {
    .css-pixel-ratio:after {
        content: "between 1 and 2";
    }
}

$screen-ratios: 1, 1.3, 1.5, 2, 2.25, 2.5, 3, 3.5, 4;

@each $screen-ratio in ($screen-ratios) {
    @media (-moz-device-pixel-ratio: $screen-ratio), (min--moz-device-pixel-ratio: $screen-ratio), (-webkit-device-pixel-ratio: $screen-ratio), (-ms-device-pixel-ratio: $screen-ratio), (-o-device-pixel-ratio: #{$screen-ratio}/1), (device-pixel-ratio: $screen-ratio), (min-resolution: #{$screen-ratio}dppx), (min-resolution: #{$screen-ratio*96}dpi) {

        .css-pixel-ratio:after {
            content: "#{$screen-ratio}";
        }
    }
}

/* CSS orientation */
@media (orientation:landscape) {
    .css-orientation:after {
        content: "landscape";
    }
}

@media (orientation:portrait) {
    .css-orientation:after {
        content: "portrait";
    }
}
