@page
@functions {
    public string Value { get; set; }
    public string EncodedValue { get; set; }

    public IActionResult OnPostEncode(string value)
    {
        Value = value;
        if (value != null)
        {
            var xml = new System.Xml.Linq.XElement("Data", value).ToString();
            EncodedValue = xml.Substring(6, xml.Length - ("<Data>".Length + "</Data>".Length));
        }
        return Page();
    }

    public IActionResult OnPostDecode(string value)
    {
        Value = value;
        if (value != null)
        {
            var xElement = System.Xml.Linq.XElement.Parse("<Data>" + value + "</Data>");
            EncodedValue = xElement.Value;
        }
        return Page();
    }
}
<h1>XML Encode</h1>

<form method="post">
    <div class="form-group">
        <textarea type="text" name="value" class="form-control">@Value</textarea>
        <button type="submit" asp-page-handler="Encode" class="btn btn-default">Encode</button>
        <button type="submit" asp-page-handler="Decode" class="btn btn-default">Decode</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(EncodedValue))
{
<pre><code>@EncodedValue</code></pre>
}